body {
  font-size: 14pt;
}
.content {
  max-width: 640px;
  margin: auto;
  line-height: 1.8;
  margin-left: 350px; /* leave space so text isn’t hidden behind buttons */
  padding: 1em;
}
.buttons {
  margin-bottom: 1em;
  position: fixed;       /* stays put when scrolling */
  top: 50%;              /* vertically centered reference */
  left: 0;               /* stick to left edge */
  transform: translateY(-50%); /* shift back half height */
  display: flex;
  flex-direction: column;  /* stack vertically */
  gap: 0.5em;              /* spacing between buttons */
  max-width: 350px;
}
p.chapter {
  border: solid 1pt #ccc;
  background-color: #eee;
  padding: 8pt;
}
a {
  margin-right: 10px;
}
div {
  text-align: center;
}
.title {
  font-size: 28pt;
  font-weight: bold;
}
sup {
  color: #900;
  font-weight: bold;
}
.page {
  page-break-before: always;
}
/* Highlighting */
.sentence {
  transition: background-color 0.2s;
}
.any  { background-color: #EEEEEE; } /* light gray (overruled by other colors! */
.censored { 
  text-decoration: underline;
  text-decoration-color: #FF9B9B;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px; /* pushes underline down */
}
.highlight-red    { background-color: #FF9B9B; }
.highlight-orange   { background-color: #FFD6A5; }
.highlight-yellow   { background-color: #FFFEC4; }
.highlight-green  { background-color: #CBFFA9; }

button {
  margin-right: 0.5em;
  background-color: #CBFFA9;
}
button.active {
  font-weight: bold;
}
button.optional {
  background-color: #FFFEC4;
}
